<<<<<<< HEAD
/* Style.css */
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ===========
   Desktop CSS
   =========== */

body {
  font-family: 'Chivo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: auto 0;
  width: 100%;
  display: block;
}

#container {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #f0987c;
  width: 100%;
  height: 150px;
}

main {
  background-color: #f9f1e6;
}

.logo {
  text-align: center;
}

.col-md-4 {
  padding-top: 25px;
  text-align: center;
  padding-bottom: 20px;
}

.country {
  font-size: 24px;
  padding-bottom: 10px;
}

section {
  width: 100%;
  text-align: center;
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h1 {
   position: absolute;
   top: 60px;
   left: 0;
   width: 100%;
   font-size: 60px;
}

.india {
   position: absolute;
   top: 90px;
   left: 0;
   width: 100%;
   font-size: 60px;
}

.us-peru {
   position: absolute;
   top: 105px;
   left: 0;
   width: 100%;
   font-size: 60px;
}

h1 span {
   color: black;
   font-family: 'Chivo', sans-serif;
   font-size: 60px;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0);
   padding: 10px;
}

h1 span.spacer {
   padding:0 5px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.logo2 {
  text-align: center;
  padding-top: 20px;
}

.footer-text {
  text-align: center;
  color: #a16149;
}

/*avatar page CSS*/

.col-md-8 {
  padding-top: 20px;
  padding-left: 10px;
}

.col-xs-6 {
  padding-top: 20px;
  width: 32%;
  height: 500px;
  text-align: center;
}

.stats {
  background-color: #f6c994;
  height: 465px;
  padding-top: 10px;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 50px;
  padding-bottom: 10px;
}

h3 {
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 10px;
}

h4 {
  font-weight: 500px;
  font-size: 20px;
}

.avatar {
  font-size: 50px;
  font-weight: 600;
  padding-left: 10px;
  padding-top: 10px;
}

.avatar-p {
  font-weight: 300;
  padding-left: 10px;
  padding-top: 10px;
  line-height: 1.2;
}

.avatar-people {
  padding-left: 10px;
  float: left;
}

.avatar-people-2 {
  padding-left: 10px;
  float: left;
}

.avatar-button {
  padding-top: 75px;
  float: none;
}

.avatar-box {
  height: 500px;
  width: 100%;
  background-color: #f6c994;
  margin-left: 15px;
}

/*about avatar CSS*/

.about-you {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.col-1 {
  width: 100%;
}

.save {
  padding-top: 10px;
}

/*game page CSS*/

.game-logo {
  float:left;
  padding-left: 20px;
  padding-top: 20px;
}

.container {
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.container img {
    width: 90%;
}

.col-md-2 {
  float:right;
  padding-top: 20px;
  padding-right: 20px;
}

#avatar {
  padding-left: 70px;
}

.game-avatar {
  float: left;
}

.col-xs-4 {
  width: 28%;
  text-align: center;
}

.btn btn-bets {
  background-color: #f6c994;
}

.button-decoration {
  padding: 5px;
}



footer {
  width: 100%;
  height: 150px;
  background-color: #f7b669;
  float: left;
}
